    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Space Mono', monospace;
    }
    
    nav {
        background-color: #000;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 1rem 0px 1rem 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav-li {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        list-style-type: none;
    }
    
    li {
        margin-bottom: 1rem;
    }
    
    .btn-sign-up {
        display: block;
        border: 1px solid hsla(0, 0%, 100%, 0.2);
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        width: 100%;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        color: white;
    }
    
    .btn {
        color: white;
        transition: color 0.25s ease-in-out;
    }
    
    .btn:hover {
        color: #888;
    }
    
    .btn-sign-up:hover {
        background-color: #fff;
        color: #000;
    }
    
    @media(min-width: 600px) {
        nav {
            position: fixed;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1rem 0 1rem 0;
        }
        .btn-home {
            margin-right: auto;
            margin-left: 2rem;
        }
        .nav-li {
            flex-direction: row;
            align-items: center;
            width: auto;
            padding-right: 2rem;
            padding-top: 0;
        }
        li {
            margin-bottom: 0px;
            margin-left: 2rem;
        }
        .btn-sign-up {
            padding: 0.5px 1rem 0.5px 1rem;
        }
    }