.container
{
    height: 80vh;
    background-color: #85929e;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.container div
{
    margin: 20px;
    width: 200px;
}

.div1
{
    background-color: red;
    min-height: 100px;
}

.div2
{
    background-color: green;
    min-height: 200px;
    align-self: stretch;
    flex-grow: 2;
}

.div3
{
    background-color: blue;
    min-height: 300px;
    flex-grow: 1;
}