*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#canvas
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border: 3px solid gray;
    box-shadow: 15px 15px 10px gray;
    background-color: black;
    
}

#first-line
{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

#red-square
{
    background-color: red;
    height: 100%;
    width: 77%;
}

#white-horizontal-rectangles
{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#horizontal-rectangle1
{
    width: 100%;
    flex-basis: 40%;
}

#horizontal-rectangle2
{
    width: 100%;
    flex-basis: 52%;
}

.ivory
{
    background-color: ivory;
}

#second-line
{
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

#blue-rectangle
{
    background-color: blue;
    height: 100%;
    width: 20%;
}

#vertical-ivory-rectangle
{
    height: 100%;
    width: 67%;
}

#vertical-two-rectangles
{
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vertical-rectangle1
{
    width: 100%;
    height: 40%;
}

#vertical-rectangle2
{
    width: 100%;
    height: 40%;
    background-color: yellow;
}
