* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0 3rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    ;
}

img {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 100%;
    padding: 0.8rem;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.6rem;
    color: #555;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: #777;
}