*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #7553d3;
}

.nav-box
{
    background-color: #332f7c;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-box
{
    background-color: #34b399;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.press-to-menu
{
    position: absolute;
    right: 5px;
    height: 30px;
    width: 60px;
}

.menu-ul
{
    width: 100%;
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu-ul li
{
    
    background-color: white;
    border-radius: 5px;
    
    font-size: 30px;
}
